---
import Clue, { type Props as ClueProps } from "../components/Clue.astro";

import clue1_1 from "../clues/clue-1-1.jpg";
import clue1_2 from "../clues/clue-1-2.jpg";
import clue1_3 from "../clues/clue-1-3.jpg";
import clue1_4 from "../clues/clue-1-4.jpg";

import clue2_1 from "../clues/clue-2-1.jpg";
import clue2_2 from "../clues/clue-2-2.jpg";
import clue2_3 from "../clues/clue-2-3.jpg";
import clue2_4 from "../clues/clue-2-4.jpg";

import clue3_1 from "../clues/clue-3-1.jpg";
import clue3_2 from "../clues/clue-3-2.jpg";
import clue3_3 from "../clues/clue-3-3.jpg";
import clue3_4 from "../clues/clue-3-4.jpg";
import clue3_5 from "../clues/clue-3-5.jpg";

import clue4_1 from "../clues/clue-4-1.jpg";
import clue4_2 from "../clues/clue-4-2.jpg";
import clue4_3 from "../clues/clue-4-3.jpg";
import clue4_4 from "../clues/clue-4-4.jpg";

import clue5_1 from "../clues/clue-5-1.jpg";
import clue5_2 from "../clues/clue-5-2.jpg";
import clue5_3 from "../clues/clue-5-3.jpg";

import "../styles/style.css";

type Clue = Omit<ClueProps, "number">;

const clues: Clue[] = [
  {
    sections: [[clue1_1], [clue1_2, clue1_3, clue1_4]],
    position: "12: 10 - 11",
  },
  {
    sections: [
      [clue2_1, "&", clue2_2],
      [clue2_3, clue2_4],
    ],
    position: "1: 1 - 3",
  },
  {
    sections: [[clue3_1, clue3_2, clue3_3, clue3_4], [clue3_5]],
    position: "33: 3 - 6",
  },
  {
    sections: [
      [clue4_1, clue4_2],
      [clue4_3, clue4_4],
    ],
    position: "54: 1",
  },
  {
    sections: [[clue5_1, clue5_2], [clue5_3]],
    position: "6: 7 - 11",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Dina's puzzle for 2024" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dina 2024</title>
  </head>
  <body class="bg-gray-950 p-8 font-mono text-gray-200">
    <div class="mb-20 text-center text-7xl">
      <a class="underline" href="https://genius.com/" target="_blank"
        >genius.com</a
      >
      <br />*only lyrics*
    </div>
    {clues.map((clue, idx) => <Clue number={idx + 1} {...clue} />)}
  </body>
</html>
